body{
    background: gray;
}
h1{
    font-size: 50px;
}
.text{
    color: white;
  text-align: center;
  
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row{
    margin-top: 10px;

}
button{
    background-color: lightblue;
    width: 40px;
    font-size: 20px;
    border: 1px solid white;
    margin: 3px 6px;
    cursor: pointer;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 12px;
    padding-bottom: 5px;
    text-align: center;
}
input{
    margin-bottom: 10px;
    width: 210px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: rgb(242, 219, 222);
}